*.pdf
*.jpg
tessdata
.env
images

# cache
.pytest_cache
*__pycache__*
*.mypy_cache*

# logs
archived_logs
latest_logs
nohup.out

# hydra config run info
outputs

# vscode
.vscode

# test coverage
.coverage
coverage.xml
